body{
    margin: 0;
    padding: 0;
    background-color: #a9acbb;
}
h1{
    font-size: 3rem;
    font-family: Saira;
    color: #fff;
    margin: 0;
}
header{
    background-color: #2e313d;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}
h2{
    font-size: 1.5rem;
    font-family: Saira;
    margin: 0;
    background-color: #5c6172;
    padding: 10px 40px;
    color: #fff;
}
form{
    margin: 40px;
    font-family: Inconsolata;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
form section{
    border: solid 1px black;
}
section div{
    padding: 10px 40px 30px 40px;
    border: solid 1px black;
    background-color: #fff;
}
#submitDiv{
    display: flex;
    justify-content: center;
}
form button{
    width: 15%;
    font-size: 1.2rem;
    font-family: Inconsolata;
    color: #fff;
    background-color: #2e313d;
    padding: 10px 50px;
    margin: 20px 0 0 0;
    border: solid 1px black;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1) 500ms;
    cursor: pointer;
}

