body{
    margin: 0;
    padding: 0;
}
header{
    background-color: #2e313d;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}
h1{
    font-size: 3rem;
    font-family: Saira;
    color: #fff;
    margin: 0;
}
h2{
    font-size: 1.5rem;
    font-family: Saira;
    margin: 0;
}
div{
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
}
ul li{
    padding: 0;
    margin: 0;
}
div b{
    border-top: solid 1px black;
    padding: 10px 0;
    font-size: 1.3rem;
    font-family: Saira;
}
#submitDiv{
    display: flex;
    justify-content: center;
}
a{
    text-align: center;
    width: 15%;
    text-decoration: none;
    font-family: Inconsolata;
    color: #fff;
    background-color: #2e313d;
    padding: 10px 50px;
    margin: 20px 0 0 0;
    border: solid 1px black;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1) 500ms;
    cursor: pointer;
}
