header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    background-color: #0f0f0f;
    padding: 0px 30px;
    font-size: 1.5rem;
}
.navbar{
    padding: 20px;
}
.logStat{
    display: flex;
    gap: 10px;
}
header a{
    color: #ffffff;
    text-decoration: none;
    padding: 20px;
}
header a:hover{
    scale: 110%;
    transition: cubic-bezier(0.39, 0.575, 0.565, 1) 300ms;
}
#profileimg{
    border:solid 2px white;
    border-radius: 100%;
    scale: 90%;
    width: 50px;
    height: 50px;
    margin-top: 10px;
}