
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Linefont:wght@4..1000&display=swap');

body{
    font-family: Atkinson Hyperlegible Mono;
    /*font-family: Linefont;*/
    padding: 0;
    margin: 0;
}
section{
    height: 85vh;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
h3{
    font-size: 2.5rem;
    margin: 0;
}
