
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Linefont:wght@4..1000&display=swap');

body{
    font-family: Atkinson Hyperlegible Mono;
    /*font-family: Linefont;*/
    padding: 0;
    margin: 0;
    background-color: #252525;
    color: #fff;
}
section{
    height: 85vh;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
h1{
    font-size: 4rem;
    margin: 0;
}
h3{
    font-size: 2.5rem;
    margin: 0;
}
button{
    cursor: pointer;
    font-family: Atkinson Hyperlegible Mono;
    background-color: #3f3f3f;
    border: none;
    color: #ffffff;
    border-radius: 5px;
    padding: 5px 30px;
    margin: 50px;
}
button:hover{
    background-color: #535353;
    transition: cubic-bezier(0.39, 0.575, 0.565, 1) 100ms;
}
hr{
    background-color: white;
    padding: 1px;
    margin: 20px 0;
}
input, select{
    font-family: Atkinson Hyperlegible Mono;
    background-color: #3f3f3f;
    border: none;
    color: #ffffff;
    border-radius: 5px;
    padding: 0 30px;
}
#errText{
    color:#ffa8a8;
}
#crrText{
    color:#cbffa8;
}
