.userDiv{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
    padding:  20px 40px;
    background-color: #2c2c2c;
    margin: 20px 0;
}
.userDiv_info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.userDiv_info button{
    margin: 20px 20px 0 0;
}